
h1, h2{
    display: inline-block;
   margin-left: 10px;
   font-size: medium;
}
h2{float:right;
    width:30%;
    margin-right:10px;

    
}
h4{
    opacity: 50%;
    font-style: italic;
}
.main-container{
    width:50%;
}
